@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

body {
    background-color: hsl(275, 100%, 97%);
}

.container {
    /* padding: 20%; */
    display: flex;
    justify-content: center
}

.innerbox>h1 {
    display: inline;
    color: hsl(292, 42%, 14%);
    margin-left: 10px;
}

.innerbox {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    border-radius: 10px;
    padding: 20px;
}

.innerbox>img {
    width: 30px;
}

.btn,
.btn>p:hover {
    color: hsl(292, 16%, 49%);
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
    text-align: start;
    border: none;
    background-color: white;
}

.btn>p {
    width: 70%;
    font-weight: bold;
    color: hsl(292, 42%, 14%);
}

.content>p {
    width: 100%;
    font-size: small;
    line-height: 1.5;
    color: hsl(292, 16%, 49%);
    padding: 10px;
    padding-left: 0;
    padding-bottom: 20px;
    /* display: none; */
}

.content {
    display: none;
}

.btn img {
    position: absolute;
    right: 20px;
}

#minus {
    display: none;
}

.desktop {
    display: none;
}

hr {
    opacity: 0.1;
}

/* Responsive */
/* >320 */
@media(min-width:321px) {
    .innerbox {
        width: 70%;
    }
}

/* >375 */
@media(min-width:376px) {
    .mobile {
        width: 100%;
    }
}

/* >425 */
@media(min-width:426px) {
    .innerbox {
        width: 90%;
        height: auto;
        left:30%;
        box-sizing:border-box;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
.btn{
    padding: 20px;
}
.btn>p{
    font-size:1.5rem;
}
.content>p{
    font-size: 1.3rem;
}
}
/* >768 */
@media(min-width:769px){
    .innerbox{
        width: 60%;
        left: auto;
        height: auto;
    }
    .btn>p{
        /* margin-bottom: 40px; */
       font-size: medium; 
    }
    .btn>p{
        width: 100%;
        line-height: 2;
        padding-right: 60px;
    }
    .desktop{
        width: 100%;
    }
}
/* >1024 */
@media(min-width:1025px){
    .innerbox{
        width: 50%;
        top: 20%;
        box-sizing: border-box;
        left: auto;
        height: auto;
    }
    .btn>p{
        font-size:1.3rem;
    }
    .btn{
        padding: 30px;
        margin-bottom: 0;
    }
    .desktop{
        width: 100%;
    }
    .content>p{
        font-size:1rem;
    }
}